// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


ol {
  padding: 0;
}
.form_flex{
  form {
    display: flex;
    align-items: center;
  }
}

.form_flex > form input.form-control {
  margin-top: 16px;
}

.shadowed {
  box-shadow: 3px 3px 10px rgba($color: #565454, $alpha: 0.3);
}

.list-header {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    text-shadow: 5px 5px 10px black;
  }
}
